html {
    font-family: "Inika", serif;
    font-weight: 400;
    font-style: normal;
    color: #8B7969;
}

.

.header-title {
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    border-bottom: 1px solid #E0DFDE;
}

.section-container {
    width: 100vw;
}